.book-now-form{
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/* 
.form_options{
    height: 20vh;
} */
.form_options h2{
font-weight: 700;
font-size: 5vw;
}

.button_sec{
    width: 100%;
    display: flex;
    margin-top: 4%;
    justify-content: center;
    cursor: pointer;
    
}

.button_sec img{
    width: 8.5%;
    height: 8.5%;
    cursor: pointer;
}