/* html { 
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
} */
@font-face {
  font-family: Poppins-Light;
  src: url(../src/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../src/fonts/Poppins-Regular.ttf);

}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(../src/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../src/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../src/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url(../src/fonts/Poppins-ExtraBold.ttf);
}
html {

  /* scroll-snap-type: y mandatory; */
  
}

section{
  /* scroll-snap-align: start; */
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

div.app {
  height: 100%;
}
.banner1{
    height: auto;
    max-width: 90%;
    position: relative;
    margin-left: 80px;
    right: 0;
    z-index: -1;
}

.navbar{
  margin-top: -144px !important;
  transform: rotate(-90deg);
  z-index: 5;
}

.section1{
  margin-top : -35px;
}

.nav-item{
  transform: rotate(-90deg);
  font-weight: 700 !important;
  color: #0F0E0E !important;
  margin-top: 60px !important;
  font-size: 1.1rem !important;
}

.nav-p2{
  margin-top: -13px;
  margin-left: 34px;
  color: #ffffff;
  position: absolute;
}

.nav-p3{
  margin-top: -13px;
  margin-left: 34px;
  color: #ffffff;
  position: absolute;
}

.headerline1{
  position: relative;
  width: 2px;
  height: 55px;
  left: 80px;
  top: 42px !important;
  background-color: #0F0E0E;
  transform: rotate(90deg);
}

.headerline2{
  position: relative;
  width: 2px;
  height: 55px;
  left: 100px;
  top: 42px !important;
  background-color: white;
  transform: rotate(90deg);
}

.headerline3{
  margin-left: -288px;
  height: 10.7%;
  width: 21%;
  background-color: #ffffff;
  float: left;
  position: absolute;
}

.homewhite{
  transform: rotate(270deg);
  font-weight: 700 !important;
  color: #ffffff !important;
  margin-top: 60px !important;
  font-size: 1.1rem !important;
}

.linkcolor{
  color: #0F0E0E;
  text-decoration: none;
}

.linkcolor2{
  color: #0F0E0E;
  text-decoration: none;
}

.linkcolor2 :hover{
  color: #ffffff !important;
}

.linkcolor :hover{
    color: #0F0E0E !important;
}

.gap{
   margin-left: 328% !important;
   color: #0F0E0E !important;
}

.gap2{
  margin-left: 230% !important;
  color: white !important;
  margin-top: 60px !important;
  z-index: 2;
}

.gap21{
  margin-left: 230% !important;
  color: #0F0E0E !important;
  margin-top: 60px !important;
  z-index: 2;
}

@media screen and (min-width:1280px) {
  .gap { margin-left: 245% !important;color: #0F0E0E !important;}
  .banner {max-width: 100%; height: auto;}
}

@media screen and (min-width:1366px) {
  .gap { margin-left: 270% !important;color: #0F0E0E !important;}
  .banner {max-width: 100%; height: auto;}
}

@media screen and (min-width:1512px) {
  .gap { margin-left : 342% !important;color: #0F0E0E !important;}
}

@media screen and (min-width:1512px) {
  .gap21 { margin-left : 327% !important;}
  .gap2 { margin-left: 327% !important;}
}

.width43{
  width: 48% !important;
}

.width57{
  width: 52% !important;
}

.doublelines{
  margin-left: 45%;
  max-width: 100%;
  height: auto;
}

.headerline21{
  position: relative;
  width: 2px;
  height: 55px;
  left: 100px;
  top: 42px !important;
  background-color: #0F0E0E;
  transform: rotate(90deg);
}

.company-name{
  font-size: 24.1vw !important;
  opacity: 0.1;
  font-weight: 500;
  margin-top: -16.5%;
  animation: animate 10s linear infinite;
  animation-delay: -10s;
  margin-bottom: 0;
}

@keyframes animate {
    0%{
      transform: translateX(5%);
    }
    100%{
      transform: translateX(-150%);
    }
}

.headline1{
  margin-left: 27%;
  margin-top: -38%;
  font-size: 3vw;
  font-weight: bold !important;
  line-height: 1;
  opacity: 1;
}

.strike{
  color: #DDAB6C;
}

.hitch{
  color: black;
}
.about_us_sec{
  height: 100vh;
}



.carousel-indicators1{
  left: 5% !important;
  bottom: 0% !important;
  height: 55%;
  margin-left: 30%!important;
  /* width: 15% !important; */ 
  transform: rotate(90deg) !important;
}

.carousel-indicators .active {
  background-color: #DDAB6C !important;
}  




.carousel-indicators5{
  left: 5% !important;
  bottom: 0% !important;
  height: 55%;
  margin-left: 30%!important;
  /* width: 15% !important; */ 

}

.carousel-indicators5 .active {
  background-color: #DDAB6C !important;
} 

.carousel-indicators{
  right: 43% !important;
}


.Indicators{
  top:24rem;
  width: 100%;
  text-align: center;
  margin-left: -3rem !important;
  align-items: center;
         
  /* margin-left: 55%; */
}

.btn1{
  margin-left: 15% !important;
  margin-right: auto !important;
  display: block !important;
  /* padding: 10px 60px; */
  border-radius: 5px;
  color: white !important;
  background-color: #0F0E0E !important;
  position: absolute;
  margin-top : 2%;
  font-weight: 600;
  width: 160px;
}

.approach{
  font-size: 3vw;
  line-height: .8;
  margin-top: 10%!important;
  position: relative;
  text-align: left!important;
  z-index: 5;
}

.word1{
  font-weight: 700;
  font-size: 8vw;
  font-family: "Poppins-SemiBold";
  letter-spacing: -8px;
}

.img1{
  height: auto;
  margin-top: 45%;
  width: 100%;
  z-index: -1;
}

.desc1{
  margin-top: 8%;
  font-size: 1.2vw;
  line-height: 1.5;
  font-family: "Poppins-Regular";
}

.dots{
  margin-top: 5%;
  margin-left: 5%;
  max-width: 100%;
  height: auto;
  position: absolute;
}



.learnmore{
  font-size: 15px;
  font-weight: 600;
  margin-top: 2%;
  font-family: "Poppins-Medium";
}

.ellipse2{
  height: auto;
  width: 8%;
  margin-left: 15px;
}

.rightarrow0{
  margin-left: -7%;
  font-size: 1.7vw;
}

.poster{
  background-color: #0F0E0E;
  padding: 3% 2% 2% 0;
  z-index: 5;
  position: relative;
  margin-top: 8%;
}

.desc2{
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-family: "Poppins-Regular";
}

.pratichakrateam{
  color: #DDAB6C;
  margin-left: 60%;
  font-size: 1.5vw;
  font-family: "Poppins-SemiBold";
}

.dots2{
  margin-top: -4%;
  margin-left: 80%;
  position: absolute;
  z-index: 6;
  width: 13%;
}

.frame62{
  height: auto;
  margin-top: 7%;
  width: 6%;
  left: 35%;
  position: absolute;
}

.music-celebrate{
  margin-top: 30%;
}

.planning{
  font-size: 2.5vw;
  line-height: 1;
  margin-top: 25%;
  font-family: "Poppins-Medium";
}

.underline{
  width: 70px;
  height: 4px;
  background-color: #DDAB6C;
  margin-left: 90%;
  margin-bottom: 2%;
}

.app__navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 2;
}
.app__navbar-links{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.app__navbar-links li{
  margin: 0 1rem;
  cursor: pointer;
  flex-direction: column;
}



.desc3{
  text-align: right;
  font-size: 1vw;
}

.bolding{
  font-weight: 600;
}
.bolding20{
  font-weight: 700;
  font-family: "Poppins-SemiBold";
}

.gray{
  color: gray;
  font-size: 1.2vw;
  width: 100%;
  padding-left: 9rem;
  font-family: "Poppins-Medium";
}

.circle{
  margin-left: 85%;
  margin-top: 3%;
}

.negotiating{
  font-size: 2.5vw;
  line-height: 1;
  margin-top: 15%!important;
  font-family: "Poppins-Medium";
}

.searching{
  margin-top: 15%;
  margin-left: 25%;
}

.underline2{
  width: 70px;
  height: 4px;
  background-color: #DDAB6C;
  margin-bottom: 2%;
}

.circle2{
  margin-left: 85%;
  margin-top: -7%;
}

.gray2{
  color: gray;
  font-size: 1.2vw;
  font-family: "Poppins-Medium";
}

.frame68{
  margin-left: 80%;
  width: 30%;
  height: auto;
  margin-top: -125%;
}

.reviews{
  text-align: center;
  font-size: 3vw;
  margin-top: 5%;
  line-height: 0.5;
}

.underline4{
  width: 200px;
  height: 4px;
  background-color: #DDAB6C;
  margin-left: 49%;
}
.underline40 {
  width: 160px;
  height: 3px;
  background-color: #DDAB6C;
  margin-left: 49.4%;
  margin-top: 1.5rem;
  margin-bottom: 5%;
}

.desc4{
  text-align: right;
  padding-right: 2%;
  font-size: 1.5vw;
  margin-top: 5%;
}

.underline3{
  width: 130px;
  height: 3px;
  background-color: #DDAB6C;
  margin-left: 37.9%;
  margin-bottom: 1%;
  margin-top: 5%;
}


.inverted{
  margin-bottom: -2rem;
  margin-left: 2rem;
  width: 4rem;
  position: relative;
  z-index: 5 !important;
}
.app__reviews{
  margin-top: 3rem;
  margin-bottom: 5%;
}

.revbox{
  background-color: #F8F8F8;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -1%;
  padding-bottom: 10%;
  width: 86%;
}

.revdesc{
  font-size: 1vw;
  color: #7D7D7D;
  margin: 2% 8%;
  font-family: "Poppins-Regular";
}

.ownerimg{
  margin-top: -48%;
  z-index: 5;
  height: 10rem;
  width: 10rem;
  margin-left: 80%;
  object-fit: cover;
  position: relative;

}
.ownerimg__block{
  margin-left: 0rem;
}

.ownername{
  font-size: 1.2vw;
  margin-top: -14%;
  margin-left: 82%;
  z-index: 5;
  display: flex;
  font-family: "Poppins-Medium";
}    


.ownerdesg{
  position: relative;
  margin-top: -2%;
  font-size: 1.1vw;
  color: #DDAB6C;
  margin-left: 82%;
  z-index: 5;
  font-family: "Poppins-Regular";
}

.dots1{
  margin-top: 30%;
}

.offer{
  font-size: 3vw;
  text-align: center;
  margin-bottom: 4%;
  font-family: "Poppins-Light";
}

.frame6{
  margin-top: 3%;
  margin-left: 50%;
}

.float{
  float: left;
}

.offer1{
  margin-top: 4%;
  margin-left: 30%;
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 4%;
  font-family: "Poppins-Regular";
}

.offer2{
  margin-top: 2%;
  margin-right: 33%;
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 4%;
  font-family: "Poppins-Regular";
}

.frame7{
  margin-top: 0%;
  margin-left: 20%;
}

.frame8{
  margin-left: 55%;
}

.frame17{
  margin-top: 2%;
  margin-left: 20%;
}

.rightimages{
  margin-top: -4%;
}

.offer3{
  margin-top: 4%;
  text-align: center;
  margin-left: 35%;
  font-size: 1.5vw;
  margin-bottom: 4%;
  font-family: "Poppins-Regular";
}

.offer4{
  margin-top: 4%;
  text-align: center;
  /* margin-left: 35%; */
  margin-right: 35%;
  font-size: 1.5vw;
  margin-bottom: 4%;
  font-family: "Poppins-Regular";
}


.bottom{
  padding-bottom: 10%;
}

.dots4{
  position: absolute;
  top: 25%;
}

.ourservices{
  margin-top: 20% !important;
  margin-left: 18%;
  font-size: 2vw;
  line-height: 0.6;
  font-family: "Poppins-Medium";
}

.servicearea{
  padding-bottom: 4%;
}

.services{
  font-size: 7vw;
  font-family: "Poppins-SemiBold";
}

.desc5{
  font-size: 1vw;
  margin-left: 18%;
  font-family: "Poppins-Regular";
}

.spacetop{
  margin-top: 4%;
  display: none;
}

.bob{
  height: auto;
  margin-left: 20%;
  position: absolute;
  width: 23%;
  margin-top: 1.2%;
  z-index: 5;
}

.positioning{
    margin-top: 21%;
    margin-left: 5%;
    overflow-y: auto;
    height: 680px;
}

.positioning::-webkit-scrollbar {
  display: none;
}

.graybox{
  margin-top: 4%;
  background: #F0F0F0;
  border-radius: 10px;
  padding: 3% 8%;
  width: 85%;
}

.seminarsand {
  margin-left: 45%;
  margin-top: 70%;
  font-size: 2vw;
  line-height: 100%;
}

.servicesdesc{
  font-size: 1.1vw;
  font-family: "Poppins-Regular";
}
.servicesheader{
  font-family: "Poppins-SemiBold";
}

.blackbox{
  background: #000000;
  border-radius: 10px;
  padding: 3% 8%;
  width: 85%;
  margin-top: 4%;
  color: #ffffff;
}

.building{
  height: 8%;
  width: 8%;
}

.rightarrow1{
  margin-left: -17%;
  font-size: 1.7vw;
  margin-top: 45%;
  font-weight: 600;
}

.ellipse{
  width: 18%;
  height: auto;
}

.rightarrow{
  font-size: 35px;
  line-height: 0;
  margin-top: 50px;
}

.bolding2{
  margin-left: 9%;
  margin-top: 20%;
  position: absolute;
  z-index: 1;
  font-size: 15px;
  font-family: "Poppins-SemiBold";
}

.discoverservices{
  background: linear-gradient(270deg, #373737 0%, #141414 95.54%);
  position: absolute;
  top: 65%;
  left: -5.4%;
  color: #ffffff;
  padding-top: 0.2%;
  padding-left: 2%;
  padding-right: 2%;
  transform: rotate(270deg);
  font-size: 1.2vw;
}

.downarrow{
  padding-left: 45% !important;
}

.halfportion{
  background: linear-gradient(270deg, #373737 0%, #141414 95.54%);
  height: 100%;
}

.weprovide{
  font-size: 2.5vw;
  color: #ffffff;
  position: relative;
  margin-top: 22%;
  margin-left: 21%;
}

.line3{
  position: absolute;
  width: 4px;
  height: 65%;
  margin-left: 2%;
  margin-top: 1%;
  background-color: #DDAB6C;
}

.venueconsult{
  color: #ffffff;
  font-size: 1.4vw;
  font-weight: 400;
  width: 100%;
  text-decoration: none;
  list-style: none;
  margin-left: -10%;
}

.rectangle3538{
  height: 15rem;
  width: 9rem;
  object-fit: cover;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
}

.seminars{
  font-size: 4vw;
  margin-top: 40%;
  margin-left: 0%;
  line-height: 100%;
}

.frameimages{
  padding: 0;
}

.desc7{
  font-size: 1vw;
  margin-left: 0%;
}


.btn2{
  margin-left: 0%;
  padding: 1% 4%;
  border-radius: 50px;
  margin-top: 3%;
  font-size: 1.2vw;
  cursor: pointer;
}
.btn3{
  display: none;
}

.corporate{
  margin-top: 15%;
  font-size: 6vw;
  font-weight: 700;
  margin-left: -15.3%;
  z-index: 5;
  position: absolute;
}

.dots9{
  margin-left: 20%;
  margin-top: -5%;
}

.next{
  position: absolute;
  height: 30%;
  width: 15%;
  margin-left: 5%;
  z-index: 1;
  filter: brightness(0.4);
  cursor: pointer;
}

.nexttext{
  margin-left: 34%;
  z-index: 5;
  margin-top: -5%;
  color: #ffffff;
  position: absolute;
}

.corp{
  color: #ffffff;
}

.dots6{
  top: 42%;
  right: 0;
  position: absolute;
}

.caption{
  text-align: left;
  margin-left: 10%;
  font-family: "Poppins-Regular";
}



.darkbox{
  background-color:  #1F1F1F;
  height: 25%;
  width: 20%;
  color: #ffffff;
  margin-top: 34.9%;
  margin-left: -4%;
  z-index: 5;
  position: absolute;
  padding-top: 2%;
  padding-left: 2%;
}

.view{
  font-size: 1vw;
  color: #ffffff;
  font-family:"Poppins-Regular";
}

.know{
  color: #0F0E0E;
  font-size: 1vw;
  font-family:"Poppins-Regular";
}

.bgcurves{
  background-image: url('images/Frame (2).svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceswe{
  font-size: 2vw;
}

.servicename{
    margin-top: 6%;
    font-size: 9vw;
    font-weight: 700;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
    line-height: 0.9;
    position: absolute;
    text-transform: uppercase;
}

.subcatbox{
  display: flex;
  flex-direction: row;
  height: 30%;
  width: auto;
  margin-left: -5.7%;
  margin-top: 37%;
  overflow-x: auto;
}

.subcatbox::-webkit-scrollbar {
  display: none;
}

.subcatdesc{
  background-color:  #1F1F1F;
  color: #ffffff;
  z-index: 5;
  padding-top: 5%;
  padding-left: 5%;
  font-family: "Poppins-Medium";
}

.subcatdesc2{
  background-color:  #ffffff;
  color: #1F1F1F;
  z-index: 5;
  padding-top: 5%;
  padding-left: 5%;
  font-family:"Poppins-Medium";
}

.graybox:hover{
  cursor: pointer;
}

.blackbox:hover{
  cursor: pointer;
}

.w-100{
  width: 98%!important;
  filter: brightness(0.4);
}

.seminarrow{
  height: 100%;
}

section{
  height: 100%;
}

@media (max-width: 600px){
  .dots {margin-top: 25%;
    margin-left: 5%;
    max-width: 25%;
    height: auto;
    position: relative;
    display: none;}

  .approach{
    font-size: 7vw;
    line-height: .8;
    margin-top: 10%!important;
    position: relative;
    text-align: center!important;
    z-index: 5;
  }


  .word1{
    font-weight: 700;
    font-size: 14vw;
  }
  .app__image{
      marginTop: -80;
      filter: grayscale(1);
  }

  .desc1{
    margin-top: 8%;
    font-size: 1.2vw;
    line-height: 1.5;
  }

  .img1 {
    height: auto;
    margin-left: 7%;
    margin-top: 0%;
    width: 72%;
    z-index: -1;
}

  .poster{
    background-color: #0F0E0E;
    padding-top: 3%;
    padding-bottom: 0.5%;
    z-index: 5;
    margin-top: 8%;
  }

  .pratichakrateam{
    color: #DDAB6C;
    margin-left: 57%;
    font-size: 2.5vw;
  }

  .desc2{
    text-align: center;
    color: white;
    font-size: 3vw;
    padding: 0.5rem 1.5rem;
  }

  .dots2{
    margin-top: -2%;
    margin-left: 75%;
    width: 21%;
    z-index: 6;
  }
  .dots3{
    margin-top: -8%;
    margin-left: 75%;
    width: 21%;
    z-index: 6;
  }

  .music-celebrate{
    margin-top: 13%;
    width: 73%;
  }

  .frame62{
    height: auto;
    margin-top: 11%;
    width: 9%;
    margin-left: 7%;
  }

  .planning{
    font-size: 5vw;
    line-height: 1;
    margin-top: 38%;
  }

  .underline{
    width: 70px;
    height: 4px;
    background-color: #DDAB6C;
    margin-left: 61%;
    margin-bottom: 7%;
  }
  
  .gray{
    color: gray;
    font-size: 2vw;
  }

  .frame68{
    margin-left: 2%;
    width: 25%;
    height: auto;
    margin-top: 9%;
  }

  .negotiating{
    font-size: 5vw;
    line-height: 1;
    margin-top: 15% !important;
  }

  .searching{
    margin-top: 6%;
    width: 100%;
  }

  .underline2 {
    width: 70px;
    height: 4px;
    background-color: #DDAB6C;
    margin-bottom: 6%;
  }

  .gray2 {
    color: gray;
    font-size: 1.2vw;
  }
  .desc3{
    font-size: 1vw;
  }

  .underline3 {
    width: 150px;
    height: 4px;
    background-color: #DDAB6C;
    margin-left: 32.3%;
    margin-bottom: 1%;
    margin-top: 21%;
  }

  .rightimages {
    margin-top: -4%;
    width: 23%;
    display: none;
  }

  .offer {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 8%;
  }

  .rightimages {
    margin-top: -4%;
    width: 23%;
  }

  .frame6 {
    margin-top: 3%;
    margin-left: -1%;
    width: 84%;
  }

  .frame7 {
    margin-top: -16%;
    margin-left: 20%;
  }

  .frame8{
    margin-top: 3%;
    margin-left: 0%;
    width: 68%;
  }

  .frame17 {
    margin-top: 2%;
    margin-left: 5%;
    width: 77%;
  }

  .offer1 {
    margin-top: 4%;
    margin-left: -18%;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 4%;
  }

  .offer2 {
    margin-top: 2%;
    margin-right: 19%;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 4%;
  }

  .offer3{
    margin-top: 4%;
    margin-left: 5%;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 4%;
  }

  .reviews {
    text-align: center;
    font-size: 6vw;
    margin-top: 20%;
    line-height: 0.5;
  }

  .underline4 {
    width: 200px;
    height: 4px;
    background-color: #DDAB6C;
    margin-left: 27%;
    margin-bottom: 5%;
  }

  .dots1 {
    margin-top: 30%;
    display: none;
  }

  .revbox {
    background-color: #F8F8F8;
    padding-top: 10%;
    padding-left: 3%;
    margin-top: -1%;
    padding-bottom: 10%;
    width: 100%;
  }

  .revdesc {
    font-size: 3vw;
    color: #7D7D7D;
  }


  .ownerimg{
    z-index: 5;
    margin-left: 23%;
    position: relative;
    margin-top: 0%;

  }

  .ownername {
    font-size: 1vw;
    margin-top: 2%;
    margin-left: 38%;
    position: relative;
    z-index: 5;
    width: 30%;
  }

  .ownerdesg {
    position: relative;
    margin-top: -3%;
    font-size: 1.1vw;
    color: #DDAB6C;
    margin-left: 38%;
    z-index: 5;
  }
}

/* #navbar_self li Link{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar_self li Link:hover,
#navbar_self li Link.active{
  color: #088178;
}
#navbar_self li Link.active::after,
#navbar_self li Link:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background:  #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */
.our{
  font-family: "Poppins-Medium";
}
.carousel-indicators > button {
  border-radius: 50%;
  width: 13px !important;
  height: 13px !important;
  background: #FFFFFF;
  border: 1px solid #141414 !important;
  
}

.carousel-indicators .active {
  background-color: #000000 !important;
  border: 1px solid #000000 !important;
}

.carousel-indicators2{
  right: 43% !important;
}
.carousel-indicators2 > button {
  border-radius: 50%;
  width: 15px;
  height: 5px;

}


/* ************      NEW SECTION          ***************** */

.texts2{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center !important;
  margin-top: -4%;
  margin-bottom: 2%;
  z-index: 5;

}
.label2{
  font-size: 74.838px;
  width: 631px;
  text-align: left;
  line-height: 67px;
  font-family: "Poppins-SemiBold";
}
.p1{
  text-align: left;
  width: 631px;
  color: #7D7D7D;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  font-family: "Poppins-Medium";
}
.p2{
  text-align: left;
  width: 631px;
  color: #7D7D7D;
  font-size: 16px;
  line-height: 23px;  
  font-family: "Poppins-Regular";
  line-height: 23px;
  margin-top: 2rem;
}

.section2{
  display: flex;
  flex-direction: row;
}

.box1{
  flex: 0.3;
  margin: 2% 8.5%;
}
.box2{
  flex: 0.4;
  margin: 2% 0%;

}
.box3{
  flex: 0.3;
  margin: 2% 6%;
}
.app__box h2{
  font-size :36.65px;
  font-family: "Poppins-SemiBold";
  margin-top: 2.5rem;
}
.app__box p{
  font-family: "Poppins-Regular";
  font-size: 12.2167px;
  line-height: 18px;
  display: flex;
  align-items: center;

color: #7D7D7D;
}
.box2{
  margin-top: 150px;
}
.banner2{
  width: 100%;
  height: 304px;
  left: 0px;
  top: 0px;
  background: #141414;
  background-image: url(../src/images/Group22.svg);
  display: flex;
  flex-direction: row;

}
.block1{
  margin: 1% 3%;
  flex: 0.45;
  margin-left: 15%;
  width: 345.14px;
  margin-top: 5%;
}
.block1 p{
  color: #7D7D7D;
  font-size: 21.8548px;
  line-height: 30px;  
  font-family: "Poppins-Medium";
}
.block1 h2{
  font-size: 42.929px;
  line-height: 47px;
  width: 355.14px;
  letter-spacing: -2.34158px;
  color: #FFFFFF;
}
.span2{
  color: rgba(221, 171, 108, 1);
}


.block2{
  display: flex;
  flex-direction: row;
  margin: 7% 3%;
  justify-content: space-between;
}
.div2{
  margin: 10% 16%;
}
.div2 h2{
  font-size: 53.7608px;
  line-height: 32px;
  color: #DDAB6C;
  font-family: "Poppins-SemiBold";
}
.div2 p{
  font-size: 13.6298px;
  align-items: center;
  color: #D0D0D0;
  width: max-content;
  font-family: "Poppins-Regular";
  margin-top: 1rem;
}
.banner3{
  width: 100%;
  height: 350px;
  display: inline-block;
  background: #F0F0F0;
  text-align: center;
}
.banner3 p{
  font-size: 25.6781px;
  line-height: 35px;
  color: #7D7D7D;
  text-align: center;
  margin-top: 7%;
}
.banner3 img{

  margin-top: -5%;

}

.app__store{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 616px;
  left: 0px;
  top: 0px;
  background: #D9D9D9;
}
.store_block1{
  flex: 0.5;
  margin: 5% 12%;
}
.storess{
  display: flex;
  flex-direction: row;
}
.store_block1 h2{
  font-size: 65.2268px;
  line-height: 71px;
  letter-spacing: -2.6895px;
  color: #141414;
  width: 523px;
  font-family: "Poppins-SemiBold";
}
.store_block1 p{
  font-size: 21.3469px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #7D7D7D;
  font-family: "Poppins-Regular";
  margin-top: 2rem;
}
.store_block2{
  flex: 0.5;
  z-index: 1;
  overflow-y: hidden;
  position: relative;

}
.store_block2 img{
  margin: 10.5% 0%;

}
.store_button{
  
}
.store_button img{
  filter: grayscale(1);
}
.Img_apple{
  margin-left: 1rem;
}

.app__footer{
  width: 100%;
  height: 327px;
  left: 0px;
  top: 0px;
  background: #141414;
  display: flex;
  flex-direction: row;
  z-index: 5;
}
.footer_block1{
  flex: 0.2;
  margin-top: 6%;
  margin: 6% 6%;
}
.footer_block1 img{
  height: 8rem;
  width: 8rem;
  padding: 2%;
}
.footer_block2{
  flex: 0.4;
  margin-top: 6%;
}
.footer_block2 h2{
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #DDAB6C;
  width: 392px;
  font-family: "Poppins-SemiBold";
}
.footer_block2 p{
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 458px;
  font-family: "Poppins-Medium";;
  margin-top: 1.5rem;
}
.footer_block3{
  flex: 0.4;
  text-align: right;
  margin-top: 6%;
}
.footer_block3 p{
  font-size: 18px;
  line-height: 37px;
  color: #FFFFFF;
  font-family: "Poppins-Regular";
  width: 430px;
  text-align: right;
  align-items: flex-end;
}
.footer_block3 h4{
  font-size: 17px;
  line-height: 30px;
  color: #FFFFFF;
  width: 327px;
  font-family: "Poppins-Regular";
  text-align:right;
  margin-left: 21%;
  margin-top: 5%;
  align-items: flex-end;
}

.app__social {
  width: 430px;
  text-decoration: none;
  text-align: right;
}
.social{
  height: 2.5rem;
  width: 2.5rem;
  color: #7D7D7D;
  margin: 1% 1%;
}
.social:hover{
  scale: 1.1;
  color: #DDAB6C;

}
.p-text{
  text-decoration: none;
  color: #7D7D7D
}
.p-text:hover{
  text-decoration: none;
  color: #DDAB6C
}
@media screen and (max-width: 600px) {


  .app__home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #141414;
    background-image: url(../src/images/group2.png);
    height: 100%;
    width: 100vh;
    width: auto;
    background-repeat: repeat-x;
    background-position: 0;
    scroll-snap-align: start;
    overflow-x: hidden;
    
}
.dots2{
    margin-top: -2%;
    margin-left: -38%;
    width: 26%;
    z-index: 6;
  }
.connect_btn{
    display: flex;
    flex-direction:row;
    height: auto !important;
    width: fit-content !important;
    background-color: white;
    justify-content: center;
    padding: 0% 5%;
    margin-right:8.5rem !important;
    margin-top: 2rem !important;
    text-align: center;
    border-radius: 0.7rem;
}
.text_connect{
    font-family: 'Poppins-Regular';
    font-weight: 600 !important;
    font-size: 0.9rem !important;
    text-align: center !important;
    /* padding-top: -1% !important; */
}
.text_connect span{
    margin-right: .3rem !important;
    font-size: large;
    /* padding-top: -2px !important; */
}
.app__images{
    margin-top: -32.5rem !important;
    margin-bottom: 10rem;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    
}
.textss{
    
    /* padding-bottom: 15rem !important; */
    margin-top: 16rem;
}
.name__logo{
    display: inline-flex;
    margin-right: 18%;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}
.app__home_first{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.app__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.app__image{

    justify-content: center;
    height: 40rem;
    scale: 1.4;
    margin-left: -1rem;
    margin-top: -15rem;
    overflow: hidden;
}
.__logo {
    align-items: center;
    align-self: center;
   
}
.__name{
    margin-top: -1%!important;
    height: 5rem !important;  
    width: 6rem !important;
}

.L1 {
    display: flex;
    flex-direction: row;
    width: 100%
}
.L1 label {
    color: white;
    font-family: 'Poppins-Regular';
    font-size:20px!important;
    margin: 0.5rem;
    padding-left: 8rem;
    
}
.L3{
    display: flex;
    flex-direction: row;
    width:100%;
}
.L3 label{
    font-size: 20px!important;
    margin: 0;
    justify-content: center;
    padding-left: 8.5rem;
    margin-top: 1rem;
}

.style_name{
    margin-top: -22%;
    margin-left: 24%;
    margin-bottom: -24%;
}
.L2-1 img{
    margin: 0;
    height: 15rem;
    width: 15rem;
    justify-content: center;
    margin-right: 3rem;
    
}
.L2-2 img{
    margin-right: 3rem;
    height: 15rem;
    width: 15rem;
    margin-top: -8.5rem;
    justify-content: center;

}




  .texts2{
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  align-self: center;
  text-align: center;
  margin-top: -65%;
  margin-bottom: 5rem;
}
.label2{
  font-size: 2.5rem;
  text-align: center;
  line-height: 47px;
  width: 100%;
  font-family: "Poppins-SemiBold";
  overflow-x: hidden;
  overflow-y: hidden;
}
.p1{
  text-align: center;
  width: 100%;
  color: #7D7D7D;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  font-family: "Poppins-Medium";
  
}
.p2{
  text-align: center;
  color: #7D7D7D;
  font-size: 16px;
  line-height: 23px;  
  width: 100%;
  font-family: "Poppins-Regular";
  line-height: 23px;
  margin-top: 1rem;
}
.section2{
  display: flex;
  flex-direction: column;
}
.box1{
  flex: 0.3;
  padding: 2% 8%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box2{
  flex: 0.3;
  padding: 2% 8%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box3{
  flex: 0.3;
  padding: 2% 8%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.app__box h2{
  font-size :26.65px;
  font-family: "Poppins-SemiBold";
  margin-top: 1.5rem;
}
.app__box p{
  font-family: "Poppins-Regular";
  font-size: 12.2167px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #7D7D7D;
}
.box2{
  margin-top: 2rem;
}



.banner2{
  width: 100%;
  height: 504px;
  left: 0px;
  top: 0px;
  background: #141414;
  background-image: url(../src/images/Group22.svg);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 6rem;
}
.block1{
  margin: 1% 3%;
  flex: 0.45;
  margin-left: 0%;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
.block1 p{
  color: #7D7D7D;
  font-size: 20.8548px;
  line-height: 30px;  
  font-family: "Poppins-Medium";
}
.block1 h2{
  font-size: 35.929px;
  line-height: 47px;
  width: 100%;
  letter-spacing: -1.04158px;
  color: #FFFFFF;
}
.span2{
  color: rgba(221, 171, 108, 1);
}
.block2{
  display: flex;
  flex-direction: column;
  margin: 7% 3%;
  justify-content: space-between;
}
.div2{
  text-align: center;
  margin: 2% 16%;
}
.div2 h2{
  font-size: 40.7608px;
  line-height: 26px;
  color: #DDAB6C;
  font-family: "Poppins-SemiBold";
  text-align: center;
}
.div2 p{
  font-size: 13.6298px;
  align-items: center;
  color: #D0D0D0;
  width: auto;
  font-family: "Poppins-Regular";
  margin-top: 1rem;
  text-align: center !important;
}
.phone11{
  margin-top: -5%;
  scale: 0.9;
  width: 100%;
  text-align: center;

}
.banner3{
  width: 100%;
  height: 250px;
  display: inline-block;
  background: #F0F0F0;
  text-align: center;
}
.banner3 p{
  font-size: 1.4rem;
  line-height: 35px;
  color: #7D7D7D;
  text-align: center;
  margin-top: 10%;
}
.banner3 img{
  scale: 0.8;
  margin-top: -15%;

}
.app__store{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 816px;
  left: 0px;
  top: 0px;
  background: #D9D9D9;
}
.storess{
  display: flex;
  flex-direction: column;
}
.store_block1{
  flex: 0.5;
  margin: 5% 12%;
  text-align: center;
}
.store_block1 h2{
  font-size: 2.2rem;
  line-height: 51px;
  letter-spacing: -1.6895px;
  color: #141414;
  width: 100%;
  font-family: "Poppins-SemiBold";
}
.store_block1 p{
  font-size: 20.3469px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #7D7D7D;
  font-family: "Poppins-Regular";
  margin-top: 2rem;
}
.store_block2{
  flex: 0.5;
  z-index: 1;
  overflow-y: hidden;
  position: relative;
}
.store_block2 img{
  scale: 0.7;
  margin: -20.5% 0%;
  position: absolute;
  z-index: 1;
  overflow-y: hidden;
}
.store_button{
  
}
.store_button img{
  scale: 0.8;
  filter: grayscale(1);
}
.Img_apple{
  margin-left: 0%;
  margin-top: 1rem;
}


.app__footer{
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #141414;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 5;
  
}
.footer_block1{
  flex: 0.2;
  margin-top: 6%;
  margin: 6% 0%;
}
.footer_block1 img{
  height: 8rem;
  width: 8rem;
  padding: 2%;
}
.footer_block2{
  flex: 0.4;
  margin-top: 2%;
}
.footer_block2 h2{
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #DDAB6C;
  width: 100%;
  text-align: center;
  font-family: "Poppins-SemiBold";
}
.footer_block2 p{
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 100%;
  font-family: "Poppins-Medium";;
  margin-top: 1.5rem;
}
.footer_block3{
  flex: 0.4;
  text-align: right;
  margin-top: 6%;
}
.footer_block3 p{
  font-size: 15px;
  line-height: 27px;
  color: #FFFFFF;
  font-family: "Poppins-Regular";
  width: 100%;
  text-align: center;
  align-items: center;
}
.footer_block3 h4{
  font-size: 17px;
  line-height: 30px;
  color: #FFFFFF;
  width: 100%;
  font-family: "Poppins-Regular";
  text-align:center;
  margin-left: 0%;
  margin-top: 5%;
  align-items: center;
}

.app__social {
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.social{
  height: 2.5rem;
  width: 2.5rem;
  color: #7D7D7D;
  margin: 1% 1%;
}
.social:hover{
  scale: 1.1;
  color: #DDAB6C;

}
.p-text{
  text-decoration: none;
  color: #7D7D7D
}
.p-text:hover{
  text-decoration: none;
  color: #DDAB6C
}



}

@media screen and (max-width: 370px) {
  .store_block2 img{
    scale: 0.7;
    margin: -29% 0%;
    position: absolute;
  }
  .phone11{
    scale: 0.6;
  }
}

