.nav_background{
    height: 10vh;
    background-color: black;
}
.slider_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}


.form-slide{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    /* margin-top: 15%; */
}

 button{
    width: 150px;
    height: 40px;
    /* border-radius: 20px; */
    border: 0px;
    background-color: #141414;
    color: white;
    text-transform: capitalize;
    /* box-shadow: 0px 2px 2px 1px black; */
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 25px;
    

}

 button:hover{
    box-shadow: 0px 3px 2px 1px black;


} 

.contBtn{
   
    
    
    margin-top: 50px;
}
.contBtn::after{
    border: none;
}



.option_list{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;

    
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
    color: white;
 /* border: 2px solid white;
 height: 78.39999389648438px;
width: 70.24000549316406px;
left: 4.8800048828125px;
top: 0.7998046875px;
border-radius: 0px; */
}

.option{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #141414;
    box-sizing: border-box;
    box-shadow :0px -2px 1px 0.2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 2% 4%;
    font-size: 8px;
}
